:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--very-dark-blue);
    background-image: url('./images/bg-stars.svg'); /* fallback */
    background-image: url('./images/bg-stars.svg'), linear-gradient(var(--very-dark-blue), var(--dark-desaturated-blue));
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.attribution {
    display: none;
}
.container {
    background: url('./images/pattern-hills.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 176px;
    display: inline-block;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.container__title {
    color: var(--white);
    font-size: 17px;
    letter-spacing: 7px;
    line-height: 1.4;
    margin-top: 8.8rem;
    text-transform: uppercase;
}
.container__clock {
    margin: 3.3rem auto 0;
    width: 90%;
}
.clock__main {
    display: flex;
    gap: 14px;
}
.clock__item {
    justify-content: space-between;
    width: 25%;
}
.clock__text, .clock__ref {
    display: block;
}
.clock__text {
    background: var(--dark-desaturated-blue);
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    color: var(--soft-red);
    font-size: 32px;
    font-weight: bolder;
    padding: 14px 0;
    position: relative;
}
.clock__text::after {
    border-bottom: 2px solid var(--grayish-blue);
    border-top: 2px solid var(--very-dark-blue);
    content: ' ';
    display: block;
    opacity: .3;
    position: absolute;
    top: 50%;
    width: 100%;
}
.clock__ref {
    color: var(--white);
    font-size: 5px;
    font-style: normal;
    letter-spacing: 4px;
    margin-top:.75rem;
}
.container__links {
    bottom: 47px;
    position: absolute;
    width: 100%;
}
.container__links ul {
    column-gap: 32px;
    display: flex;
    justify-content: center;
}
.container__links a {
    display: block;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
.links__facebook {
    background: url(./images/icon-facebook.svg) no-repeat;
}
.links__pinterest {
    background: url(./images/icon-pinterest.svg) no-repeat;
}.links__instagram {
     background: url(./images/icon-instagram.svg) no-repeat;
 }


.colors {width:100%; display: flex;}
.colors div {
    height: 30px;
    width: 16.6%;
}
.uno {
    background: var(--grayish-blue);
}
.dos {
    background: var(--soft-red);
}
.tres {
    background: var(--white);
}
.cuatro {
    background: var(--dark-desaturated-blue);
}
.cinco {
    background: var(--very-dark-blue);
}
.seis {
    background: var(--very-dark-mostly-black-blue);
}
