:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--very-dark-blue);
    background-image: url('../images/bg-stars.svg'); /* fallback */
    background-image: url('../images/bg-stars.svg'), linear-gradient(var(--very-dark-blue), var(--dark-desaturated-blue));
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    background: url('../images/pattern-hills.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 176px;
    display: inline-block;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.container__title {
  color: var(--white);
  font-size: 17px;
  letter-spacing: 7px;
  line-height: 1.4;
  margin-top: 8.8rem;
  text-transform: uppercase;
}
.container__clock {
    margin: 3.3rem auto 0;
    max-width: 700px;
    width: 90%;
}
.clock__main {
    display: flex;
    gap: 14px;
}
.clock__item {
    justify-content: space-between;
    position: relative;
    width: 25%;
}
.clock__text, .clock__ref {
    display: block;
}
.clock__text {
    color: var(--soft-red);
    font-size: 32px;
    font-weight: bolder;
    padding: 14px 0;
    position: relative;
}
.clock__ref {
    color: var(--grayish-blue);
    font-size: 5px;
    font-style: normal;
    letter-spacing: 4px;
    margin-top:.75rem;
    text-transform: uppercase;
}
.clock__data {
    position: absolute;
    width: 100%;
}
.clock__mask, .clock__data {
    background: var(--dark-desaturated-blue);
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    height: 100%;
    padding-bottom: 100%;
    position: absolute;
    width: 100%;
}
.clock__mask .clock__text {
    position: absolute;
    width: 100%;
}
.clock__mask-top, .clock__mask-bottom {
    height: 50%;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}
.clock__mask-top {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.2) 0%, rgba(2,0,36,0.15) 5%, rgba(2,0,36,0) 50%);
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-radius: 5px 5px 0 0;
}
.clock__mask-bottom .clock__text {
    top: -100%;
}
.clock__mask::before {
    background: var(--very-dark-blue);
    border-radius: 0 100% 100% 0;
    content: ' ';
    display: block;
    height:6px;
    position: absolute;
    top: calc(50% - 3px);
    width: 5px;
}
.clock__mask::after {
    background: var(--very-dark-blue);
    border-radius: 100% 0 0 100%;
    content: ' ';
    display: block;
    height:6px;
    position: absolute;
    right: 0;
    top: calc(50% - 3px);
    width: 5px;
}
.container__links {
    bottom: 47px;
    position: absolute;
    width: 100%;
}
.container__links ul {
    column-gap: 32px;
    display: flex;
    justify-content: center;
}
.container__links a {
background-color: var(--grayish-blue);
    display: block;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
.links__facebook {
    -webkit-mask-image: url(../images/icon-facebook.svg);
    mask-image: url(../images/icon-facebook.svg);
}
.links__pinterest {
    -webkit-mask-image: url(../images/icon-pinterest.svg);
    mask-image: url(../images/icon-pinterest.svg);
}
.links__instagram {
   -webkit-mask-image: url(../images/icon-instagram.svg);
   mask-image: url(../images/icon-instagram.svg);
}
.container__links a:hover {
    background-color: var(--soft-red);
}
.change {
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateX(-180deg);
        -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
        animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        transform-origin: center bottom;
}